<!DOCTYPE html>
<html>
	<head>
	  <title>Omrails</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>

	<body>
		<div class = "container">
			<!---require for devise setup step 3-->
			<% flash.each do |name, msg| %>
				<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
			<%end%>
			<!---render header partial from layouts/header-->
			<%= render "layouts/header" %>
			<%= yield %>
			<!---render footer partial from layouts/header-->
			<%= render "layouts/footer" %>
		</div>
	</body>
</html>
